<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="iislogger:folder" value="c:\temp\logs"/>
    <add key="iislogger:logformat" value="{host}_{port}\{y}\{m}\{d}\{H}_{i}_{s}.log"/>
  </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <modules>
      <add name="IISLogger" type="IISLogger.FilterSaveLogModule, IISLogger, Version=1.0.0.3, Culture=neutral, PublicKeyToken=8e9655242d1af61b"/>
    </modules>
  </system.webServer>
</configuration>
